#navigation-bar{
    display: flex;
    padding: 10px;
    background-color: black;
    color: white;
    flex-direction:row;
    justify-content: space-between;
    .right-bar{
        display: flex;
        flex-direction: row;
        gap: 10px;
        Button{
            background-color: aqua;
            color: black;
            border-radius: 25px;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
    }
}